# ===== C / C++ =====
*.o
*.obj
*.a
*.so
*.dylib
*.exe

# ===== Build directories =====
build/
**/build/

# ===== CMake =====
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CTestTestfile.cmake

# ===== IDE =====
.vscode/
.idea/
*.swp

# ===== OS =====
.DS_Store
